@css {
  @import 'normalize.css';
}

@require './vars';

body {
  background-image $background-image
  background-position center
  background-repeat no-repeat
  background-size cover
  color $color
  font-family $font-family
  font-size 16px
}

a {
  color $color
  text-decoration none
}
