/**
 * Colors
 */
$c-violet = #2e0049;
$c-fandango = #A92C87;
$c-razzmatazz = #e81d73;

/**
 * Default Setting
 */
$font-family = 'Roboto', Helvetica, Arial, Sans-serif, Verdana, Tahoma;
$font-size = 16px;
$color = #fff;
$background-image = url('../assets/images/bg.png');
$box-sizing = border-box
