@css {
  @import 'suitcss-utils-display';
}

.Filter {
  background-color #434343
  height 40px
  position absolute
  top 0
  left 0
  right 0
}

.Filter-btn {
  border-radius 20px
  border 1px solid #fff
  font-size 0.8em
  display inline-block
  padding 10px
  color #fff
  margin-left 20px
  background #434343
  padding 4px 20px
  margin-top 10px
}

.Filter-btn:hover {
  background #313131
}
