#root {

}

.App {
  // display flex
  // flex-direction column
  width 100vw
  height 100vh
  overflow hidden
}

.Queue, .Favorite, .History, .Songbook {
  position relative

  & .ic {
    padding 5px
  }

  &--w620 {
    width 620px
    margin auto
  }

  &--w60 {
    width 60%
    margin auto
  }
}

.Queue-more, .History-more {
  display block
  background-color alpha(#000, 0.3)
  text-align center
  width 100%
  padding 10px
  box-sizing border-box
}

.Favorite-head, .Queue-head, .History-head {
  display flex
  background-color alpha(#000, 0.7)
  padding 10px 30px

  & > * {
    flex 1
  }
}
