#root {

}

.App {
  // display flex
  // flex-direction column
  background-position center
  background-repeat no-repeat
  background-size cover
  width 100vw
  height 100vh
  overflow hidden
}

.Queue, .Favorite, .History, .Songbook {
  position relative

  .ic {
    padding 5px
  }

  &--w620 {
    width 620px
    margin auto
  }

  &--w60 {
    width 60%
    margin auto
  }
}

.Queue-more, .History-more {
  display block
  background-color alpha(#000, 0.3)
  text-align center
  width 100%
  padding 10px
  box-sizing border-box
}

.Favorite-head, .Songbook-head, .Queue-head, .History-head {
  display flex
  background-color alpha(#000, 0.7)
  padding 10px 30px

  & > * {
    flex 1
    padding 0 10px
  }

  & > .ic {
    flex 0
    font-size 1.5em
    padding-right 24px
  }
}

.Songbook-navs {
  background-color alpha(#000, 0.3)
  width 100%
  padding 10px 10px
}

.Songbook-link {
  display block
  background-size 100%
  background-position center
  background-repeat no-repeat
  width 100%
  height 150px
  margin-bottom 10px
  position relative

  &:hover {
    background alpha(#1a748e, 0.3)
  }

  &:last-child {
    margin-bottom 0
  }

  & > * {
    text-align center
    margin 0
    position absolute
    left 0
    top 50%
    right 0
    transform translateY(-50%)
  }

  &--bgImage-01 {
    background-image url("../assets/images/img_requesting_cover01.png")
  }

  &--bgImage-02 {
    background-image url("../assets/images/img_requesting_cover02.png")
  }
}
