#root {

}

.App {
  // display flex
  // flex-direction column
  width 100vw
  height 100vh
  overflow hidden
}

.Queue, .Favorites, .History, .Songbook {
  position relative
}

.Queue--playlist {
  margin 0 10%
}

.Queue-head {
  display flex
  padding 10px 30px

  & > * {
    flex 1
  }
}
