@css {
  @import 'suitcss-utils-display';
}

.Spinner {
  background-color alpha(#000, 50%)
  width 50px
  border-radius 10px
  margin auto
  /**
   * Shorthand for below
   * position: absolute;
   * top: 0; right: 0; bottom: 0; left: 0;
   */
  position absolute 0
}

.List {
  background-color alpha(#000, 30%)
  height 50vh
  overflow-y auto

  & > h2 {
    text-align center
  }
}
