@css {
  @import 'suitcss-utils-display';
}

.Spinner {
  background-color alpha(#000, 50%)
  width 50px
  border-radius 10px
  position absolute
  top 50%
  left 45%
}

.List {
  background-color alpha(#000, 30%)
  width 300px
  height 50vh
  overflow-y auto

  &--queue {
  }
}
