@css {
  @import 'suitcss-utils-display';
}

.Spinner {
  background-color alpha(#000, 50%)
  width 50px
  border-radius 10px
  position absolute
  top 50%
  left 50%
}

.List {
  position relative
}
