@css {
  @import 'suitcss-utils-display';
}

$ListItem {
  background-color alpha(#000, 0.7)
  margin 2px 0

  &:nth-child(odd) {
    background-color alpha(#0a0000, 40%)
  }

  &:hover {
    background-color alpha(#1a748e, 0.3)
  }
}

.Song {
  @extend $ListItem
  height 50px
  position relative
  transition height 0.3s 0s
  overflow hidden

  &:nth-child(odd) {
    background-color alpha(#0a0000, 40%)
  }

  &:hover {
    background-color alpha(#1a748e, 0.3)
  }

  &.is-selected {
    background-color alpha(#1a748e, 0.75)
  }

  &.is-expanded {
    height 130px
  }

  &--queue {

  }
}

.Song-info {
  display flex
  align-items center
  height 50px
  padding 10px 20px
  box-sizing border-box

  & > span {
    flex 1
    padding 0 10px
  }

  & > .ic {
    flex 0
    font-size 1.5em
    padding-right 1em
  }
}

.Artist {
  @extend $ListItem
}

.Stroke {
  @extend $ListItem
  display block
  padding 10px 10px
}

.Favorites {
  display inline-flex
  flex-direction column
  justify-content center
  align-items center
  background-color #333
  background-position center
  background-size cover
  width 31%
  height 150px
  margin 5px
}

.Favorites-divider {
  background-color alpha(#fff, 0.2)
  width 75%
  height 1px
  margin-top 10px
  margin-bottom 5px
}

for num in (1..8) {
  .Favorites--bgImage{num} {
    background-image url("../assets/images/img_favorite_cover0" + num + ".png")
  }
}
