@css {
  @import 'suitcss-utils-display';
}

.Modal-close {
  border 0
  float right
  top 0
  right 0
  margin -20px -15px
  background-color transparent
}

.ReactModal__Body--open {
  color #000
}

.Modal-input {
  width 94%
  height 34px
  margin 8px 0 20px 0
  color #2f2f2f
  padding 8px
}

.Modal-head4 {
  margin 0
  font-size 18px
}

.Modal-buttom {
  height 30px
  padding 0 22px
  background #fff
  border 1px solid #707070
  color #2f2f2f
  font-size 14px
  float right
  margin 10px 0 0 8px
}
