@css {
  @import 'suitcss-utils-display';
}

.Page {
  // display flex
  height 100%
  padding-top 60px
  padding-bottom 70px
  box-sizing border-box

  &--home {

  }

  &--favorite, &--songbook, &--playlist, &--history {
    display flex
  }
}

.Page-content {
  flex 1
  height 100%
  position relative
}

.Page-main {
  height 100%
  padding 40px 20px 30px 20px
  box-sizing border-box
}
