@css {
  @import 'suitcss-utils-display';
  @import 'react-select';
}

.SearchForm {
  color #000
}

.SearchForm-input, .SearchForm-select, .SearchForm-submit {
  display inline-block
}

.SearchForm-select {
  width 100px
}
