@css {
  @import 'suitcss-utils-display';
}

$SideTab-bgImg = linear-gradient(to bottom, #2d4269, #142e51, #29567a);

.SideTab {
  background-image $SideTab-bgImg
  font-size 15px
  width 169px
  overflow-x hidden
  overflow-y auto
}

.SideTab-link {
  display block
  padding 8px 0 8px 20px
  transition-duration 0.5s

  &:hover {
    background-color #1a748e
  }

  &:hover &--edit {
    display block;
  }

  &.is-current {
    color #0ff
  }

  &--edit {
    display none
    float right
    margin-right 5px
  }
}

.SideTab-title {
  padding 8px 0
  .ic:before {
    padding-right 10px
  }
}

.SideTab-block {
  display block
  margin 10px
}

.SideTab-list {
  font-size 14px
}
