@css {
  @import 'suitcss-utils-display';
}

$SideNav-link-color = alpha(#fff, 0.4);

.SideNav {
  // background-image linear-gradient(135deg, $c-violet, $c-razzmatazz)
  background-color #000
  width 100px
  height 100%
  overflow-y auto
}

.SideNav-link {
  display block
  color $SideNav-link-color
  text-align center
  text-decoration none
  padding 20px
  transition-duration 0.3s

  &:hover {
    background-color #06244a
  }

  &.is-current {
    background-color #0c4993
    color #fff
  }

  & > .ic {
    display block
    font-size 1.8em
  }

  & > p {
    font-size 12px
    letter-spacing 2px
    margin-top 10px
  }
}
