@css {
  @import 'suitcss-utils-display';
}

$SideNav-link-color = alpha(#fff, 0.4);

.SideNav {
  background-image linear-gradient(135deg, $c-violet, $c-razzmatazz)
  width 100px
  overflow-y auto
}

.SideNav-link {
  display block
  color $SideNav-link-color
  text-align center
  text-decoration none
  padding 20px
  transition-duration 0.3s

  &:hover {
    background alpha(#fff, 15%)
  }

  &.is-current {
    background-color alpha(#fff, 30%)
    color #fff
    border-left 3px solid #fff
  }

  & > .ic {
    display block
    font-size 1.8em
  }

  & > p {
    font-size 12px
    letter-spacing 2px
    margin-top 10px
  }
}
