/**
 * This is the manifest for all your top level components.
 * Use @css so that the imports are left alone by Stylus and picked up
 * by Rework
*/

@import "./base/base";
@import "./components/*";
@import "./utils/icon";

// Add from boostrap
body {
	line-height: 1.42857143;
}

a {
	text-decoration: none;
	background-color: transparent;
}
