@css {
  @import "suitcss-utils-display";
}

.Artist {
  padding 10px
  display flex
}

.ArtistList {
  flex-grow 1
  color $Playlist-color
  padding 1px
  display: block;
  color: #fff;
  width: 100%;
}
