@css {
  @import "suitcss-utils-display";
}

.Artist {
  padding 10px
  display flex
}

.ArtistList {
  flex-grow 1
  color $Playlist-color
  width 300px
  padding 1px
}

.Pager {
  position absolute
  width 99%
  background #1b1b1b
  padding 5px 0px 14px 0px
  text-align right
  left 0
  bottom 0
  padding-right 20px
  margin-bottom 120px
  font-size 14px
  color #fff
  line-height 1.42857143
}
