@css {
  @import "suitcss-utils-display";
}

.Artist {
  padding 10px
  display flex
}

.ArtistList {
  flex-grow 1
  color $Playlist-color
  padding 1px
  display: block;
  color: #fff;
  width: 100%;
}

.Pager {
  background #1b1b1b
  color #fff
  font-size 14px
  text-align right
  line-height 1.5
  width 100%
  padding 5px 20px
  position absolute
  left 0
  bottom 0
  box-sizing border-box
}
