@css {
  @import "suitcss-utils-display";
}

$FavoritesCollection-bgColor = #000000;

$FavoritesCollection-item-borderColor = #c3006d;

.FavoritesCollection {
  display flex
  flex-wrap wrap
  background-color $FavoritesCollection-bgColor
}

.FavoritesCollection-item {
  display inline-flex
  flex-direction column
  justify-content center
  align-items center
  background-size 100%
  background-position center
  color #fff
  width 150px
  height 150px
  margin 5px
  box-sizing border-box
  transition-duration 1s
  &:hover {
    background-size 120%
  }
}

.FavoritesCollection-item-title {
  font-size 1.3em
}

.FavoritesCollection-item-divider {
  background-color alpha(#fff, 0.2)
  width 75%
  height 1px
  margin-top 10px
  margin-bottom 1px
}

.FavoritesList {

}

.FavoritesList-item {
  display block
}
