@css {
  @import "suitcss-utils-display";
}

$Footer-bgColor = #000000;
$Footer-button-color = #fff;

.Footer {
  display flex
  justify-content center
  // background-image linear-gradient( alpha($Footer-bgColor, 0.5), alpha($Footer-bgColor, 0.5) )
  background-color $Footer-bgColor
  width 100%
  height 70px
  position fixed
  bottom 0
}

.Footer-button {
  background-color transparent
  display flex
  flex-direction column
  justify-content center
  align-items center
  color $Footer-button-color
  outline none
  width 120px
  padding 10px 5px
  border none
  transition-duration 0.3s
  position relative

  &:hover {
    background-color alpha(#fff, 0.3)

    .Footer-button-panel {
      display block
    }
  }
}

.Footer-button-icon {
  flex 2 0 0
  display block
  font-size 1.25em
}

.Footer-button-text {
  flex 1 0 0
  display block
  font-size 1em
  text-transform capitalize
}

.Footer-button-panel {
  display none
  background-color #000
  font-size 1.5em
  width 100%
  position absolute
  left 0
  bottom 100%

  & > * {
    display block
    background-color transparent
    outline none
    width 100%
    border none
    transition-duration 0.3s

    &:hover {
      background-color alpha(#fff, 15%)
    }
  }
}
