@css {
  @import "suitcss-utils-display";
}

$Header-bgColor = #ffffff;
$Header-borderColor = #e7007f
$Logo-color = $Header-borderColor

.Header {
  display flex
  justify-content space-between
  background-color $Header-bgColor
  width 100%
  // height 7vh
  // min-height 55px
  border-top 1vh solid $Header-borderColor
}

.Header-logo {
  display block
  color $Logo-color
  font-size 2em
  text-decoration none
  padding 5px 20px

  &:before {
    content url('http://localhost:3000/assets/images/logo.png')
  }
}
