@css {
  @import "suitcss-utils-display";
}

.Main {
  height 91vh
  padding-top 63px
  // padding-bottom 70px
  box-sizing border-box

  &--playlist {
    display flex
  }

  &--songbook {
    display flex
  }
}

.Main-wrapper {
  height 100%
  &--home {
    display flex
  }

  &--playlist {
    flex 1
  }

  &--songbook {
    flex 1
  }
}

.Main-wrapper-playlist {
  padding 0px 20px
  & > h1 {
    color #fff
  }
}

.Main-wrapper-favorites {
  width 480px
  padding 0px 20px
  & > h1 {
    color #fff
  }
}

.Main-wrapper-title {
  color #fff
  margin-left 20px
}
