@css {
  @import "suitcss-utils-display";
}



.Main-wrapper {

  &--home {
    display flex

  }
}

.Main-wrapper-playlist {

  & > h1 {
    color #fff
  }
}

.Main-wrapper-favorites {
  width 480px
  & > h1 {
    color #fff
  }
}
