@css {
  @import "suitcss-utils-display";
}

.ListPager {
  background #1b1b1b
  color #fff
  font-size 14px
  text-align right
  line-height 1.5
  width 100%
  padding 5px 20px
  position absolute
  left 0
  bottom 0
  box-sizing border-box
}
