@css {
  @import "suitcss-utils-display";
}

$Playlist-bgColor = #222222;
$Playlist-color = #fff;

$Playlist-item-bgColor = #000000;

.Playlist {
  display block
  // background-color $Playlist-bgColor
  color $Playlist-color

  &--playlist {
    width 60%
    height 55vh
    overflow-y scroll
  }
}

.Playlist-item {
  background-color alpha($Playlist-item-bgColor, 0.7)
  width 100%
  padding 10px 25px
  box-sizing border-box

  &:nth-child(odd) {
    background-color alpha($Playlist-item-bgColor, 0.4)
  }

  &--home {
    display flex
    justify-content space-between
  }

  &--playlist {
    display flex
    color #FE5FB9
    margin-bottom 2px
    & > * {
      flex 1
    }
  }

  &--artists {
    padding 11px 0 11px 24px
  }
  &:hover {
    background: rgba(126, 0, 67, 0.85);
  }
  &--songs {
    display flex
  }
}

.Playlist-item-title {
  flex 1
  padding: 11px 11px 11px 30px;
}

.Playlist-item-artist {
  flex 1
  padding: 11px 11px 11px 30px;
}

.PlaylistView {
  display flex
  flex-direction column
  align-items center

  &-head {
    display flex
    background-color alpha($Playlist-item-bgColor, 0.7)
    color #fff
    width 60%
    padding 10px 25px
    margin-bottom 2px
    box-sizing border-box
    & > * {
      flex 1
    }
  }
}

.PrepareTodoPanel {
  display absolute
  width: 500px;
  height: 50px
  z-index: 9994;
  text-align: center;
  margin: -52px 0 0 0;

  p {
    margin: 0 0 10px;
    font-size 0.9em
  }

  a {
    color: #fff;
    width: 60px;
    height: 60px;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    ic {
      font-size: 1.8em;
      padding-top: 4px;
    }

    &.PanelHidden {
      display none
    }
  }

  &--btn-add {
    background: #c3006d;
  }

  &--btn-insert {
    background: #7b0046;
  }

  &--btn-add-faverite {
    background: #4f0130;
  }

  &--btn-remove {
    background: #340121;
  }

  &--btn-remove-faverite {
    background: #340121;
  }

}

.PanelHidden {
  display none
}


