@css {
  @import "suitcss-utils-display";
}

.SideBar {
  background: linear-gradient(#35024d, #c92a84);
  width: 100px;
  height: 100%;
  position: fixed;
  left: 0;
}

.SideBarItem {
  display block
  color: rgba(255, 255, 255, 0.4);
  font-size: 1.8em;
  text-align: center;
  height: 49px
  padding: 20px;
  p {
    font-size: 0.4em;
    letter-spacing 2px
    width 62px
    margin-top -0.1em
  }

  &:hover {
    background rgba(255, 255, 255, 0.2);
  }

  &--selected {
    color #fff
  }
}
