@css {
  @import "suitcss-utils-display";
}

.SideBar {
  background: linear-gradient(#35024d, #c92a84);
  width: 100px;
  height: 100%;
  position: fixed;
  left: 0;
}

.SideBarItem {
  color: #fff;
  font-size: 1.8em;
  text-align: center;
  height: 49px
  padding: 20px;
  p {
    color: #fff;
    font-size: 0.4em;
    letter-spacing: 2px;
    width: 62px;
    margin-top: -0.1em;
  }
  a {
    color: #fff;
  }
}
