@css {
  @import "suitcss-utils-display";
}

.SideBar {
    width: 100px;
    height: 100%;
    position: fixed;
    left: 0;
    background: -webkit-linear-gradient(#35024d, #c92a84);
    background: -o-linear-gradient(#35024d, #c92a84);
    background: -moz-linear-gradient(#35024d, #c92a84);
    background: linear-gradient(#35024d, #c92a84);
}
