@css {
  @import "suitcss-utils-display";
}

.SongBookListView {
  display block
  height 100%
  position relative

  h1 {
    color #fff
    font-size: 1.6em
    font-weight normal
    padding-left 20px
    margin-bottom 10px
    margin-top 10px
    margin-bottom -5px
  }
}

.SongBookListItem {
    padding: 0 20%;
    text-align: left;
}

.SongListTitle {
    display flex
    span {
        flex 1
        padding: 11px 11px 11px 38px;
        background: rgba(27, 27, 27, 0.7);
        color: #8f8f8f;
    }
}
