@css {
  @import "suitcss-utils-display";
}

.TabItem {
	overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    left: 100px;
    width: 169px;
    height: 86%;
    background: -webkit-linear-gradient(bottom, rgba(255, 0, 0, 0), #370228);
    background: -o-linear-gradient(top, rgba(255, 0, 0, 0), #370228);
    background: -moz-linear-gradient(top, rgba(255, 0, 0, 0), #370228);
    background: linear-gradient(to top, rgba(255, 0, 0, 0), #370228);
}

.TabItem-item {
    h6 {
        color: #d938a3;
        text-align: left;
        padding: 10px 0 10px 20px;
        margin: 20px 0px 10px 0px;
        font-size: 12px;
        line-height: 1.1;
    }

    li {
        padding-left: 20px;
        line-height: 40px;
        text-align: left;
        color: #fff;
        list-style-type: none;
        font-size: 0.9em;
    }
}