@css {
  @import "suitcss-utils-display";
}

.TabItem {
  background: linear-gradient(to top, rgba(255, 0, 0, 0), #370228);
  width: 169px;
  height: 86%;
  position: fixed;
  left: 100px;
  overflow-x: hidden;
	overflow-y: auto;
}

.TabItem-item {
  h6 {
    color: #d938a3;
    font-size: 12px;
    line-height: 1.1;
    text-align: left;
    padding: 20px 0 10px 20px;
    margin: 20px 0px 10px 0px;
  }
  
  li {
    color: #fff;
    font-size: 0.9em;
    line-height: 40px;
    list-style-type: none;
    text-align: left;
    padding-left: 20px;
  }
}
