@css {
  @import "suitcss-utils-display";
}

.TabItem {
	overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    left: 100px;
    width: 169px;
    height: 100%;
    background: -webkit-linear-gradient(bottom, rgba(255, 0, 0, 0), #370228);
    background: -o-linear-gradient(top, rgba(255, 0, 0, 0), #370228);
    background: -moz-linear-gradient(top, rgba(255, 0, 0, 0), #370228);
    background: linear-gradient(to top, rgba(255, 0, 0, 0), #370228);
}
