@font-face {
  font-family 'qts'
  font-style normal
  font-weight normal
  src: url('../assets/fonts/qts.eot') format('embedded-opentype'),
    url('../assets/fonts/qts.ttf') format('truetype'),
    url('../assets/fonts/qts.woff') format('woff'),
    url('../assets/fonts/qts.svg') format('svg');
}

.ic {
  font-family 'qts'
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1
  speak none

  /* Better Font Rendering */
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
}

.btn_checkbox:before {
	content: "\e60b";
}
.delete:before {
	content: "\e60c";
}
.ic_controlbar_echo_l:before {
	content: "\e607";
}
.ic_controlbar_echo_m:before {
	content: "\e608";
}
.ic_controlbar_echo_s:before {
	content: "\e60a";
}
.ic_controlbar_play_pause:before {
	content: "\e604";
}
.ic_controlbar_pin:before {
	content: "\e605";
}
.ic_controlbar_echo:before {
	content: "\e606";
}
.btn_mainpage_backstratum:before {
	content: "\e600";
}
.btn_page_next:before {
	content: "\e601";
}
.btn_page_previous:before {
	content: "\e602";
}
.btn_songlist_typebar_sorting:before {
	content: "\e603";
}
.ic_action_enter:before {
	content: "\e609";
}
.ic_controlbar_decrease:before {
	content: "\e60e";
}
.ic_controlbar_plus:before {
	content: "\e619";
}
.ic_submenu_close:before {
	content: "\e627";
}
.ic_submenu_open:before {
	content: "\e628";
}
.ic_submenu_rename:before {
	content: "\e629";
}
.ic_submenu_requestbook:before {
	content: "\e62a";
}
.ic_toolbar_dropdown_chickbox_select_normal:before {
	content: "\e62c";
}
.ic_topbar_next:before {
	content: "\e640";
}
.ic_topbar_Search_normal:before {
	content: "\e643";
}
.ic_topbar_selected:before {
	content: "\e645";
}
.ic_topbar_refresh:before {
	content: "\e652";
}
.ic_topbar_triangle_normal:before {
	content: "\e655";
}
.ic_topbar_triangle_on:before {
	content: "\e656";
}
.ic_topbar_user_default:before {
	content: "\e658";
}
.ic_topbar_More:before {
	content: "\e659";
}
.ic_toolbar_multiselect_off:before {
	content: "\e65a";
}
.ic_toolbar_sort_ascending_disable:before {
	content: "\e65c";
}
.ic_toolbar_sort_az_disable:before {
	content: "\e65e";
}
.ic_controlbar_mute:before {
	content: "\e65f";
}
.ic_toolbar_sort_default_disable:before {
	content: "\e660";
}
.ic_toolbar_sort_descending_disable:before {
	content: "\e661";
}
.ic_toolbar_sort_za_disable:before {
	content: "\e662";
}
.ic_songlist_nowplaying:before {
	content: "\e664";
}
.ic_menu_favorite:before {
	content: "\e665";
}
.ic_menu_history:before {
	content: "\e666";
}
.ic_menu_home:before {
	content: "\e667";
}
.ic_menu_requestbook:before {
	content: "\e668";
}
.ic_menu_requestinglist:before {
	content: "\e669";
}
.ic_controlbar_effect:before {
	content: "\e66a";
}
.ic_controlbar_femaletune:before {
	content: "\e66b";
}
.ic_controlbar_guide:before {
	content: "\e66c";
}
.ic_controlbar_key:before {
	content: "\e66d";
}
.ic_controlbar_maletune:before {
	content: "\e66e";
}
.ic_controlbar_micvolume:before {
	content: "\e66f";
}
.ic_controlbar_musicvolume:before {
	content: "\e670";
}
.ic_controlbar_pause:before {
	content: "\e671";
}
.ic_controlbar_play:before {
	content: "\e672";
}
.ic_controlbar_repeat:before {
	content: "\e673";
}
.ic_controlbar_stop:before {
	content: "\e674";
}
.ic_action_favortie:before {
	content: "\e675";
}
.ic_action_inserting:before {
	content: "\e676";
}
.ic_action_remove:before {
	content: "\e677";
}
.ic_action_requesting:before {
	content: "\e678";
}
.ic_toolbar_filter:before {
	content: "\e679";
}
