@font-face {
	font-family: 'qts';
	// src:url('../assets/fonts/qts.eot');
	// src:url('../assets/fonts/qts.eot') format('embedded-opentype'),
	// 	url('../assets/fonts/qts.ttf') format('truetype'),
	// 	url('../assets/fonts/qts.woff') format('woff'),
	// 	url('../assets/fonts/qts.svg') format('svg');
	src: url('../assets/fonts/qts_icon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.ic {
	font-family: 'qts';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ic_controlbar_decrease:before {
	content: "\e609";
}
.ic_controlbar_plus:before {
	content: "\e60b";
}
.ic_controlbar_mute:before {
	content: "\e60d";
}
.ic_toolbar_filter:before {
	content: "\e62f";
}
.arrow_r:before {
	content: "\e605";
}
.arrow_l:before {
	content: "\e614";
}
.ic_topbar_Refresh:before {
	content: "\e600";
}
.ic_topbar_Search_normal:before {
	content: "\e601";
}
.ic_topbar_Search_pressed:before {
	content: "\e602";
}
.ic_topbar_triangle_normal:before {
	content: "\e603";
}
.ic_topbar_triangle_on:before {
	content: "\e604";
}
.ic_topbar_user_default:before {
	content: "\e606";
}
.ic_topbar_More:before {
	content: "\e607";
}
.ic_toolbar_multiselect_off:before {
	content: "\e608";
}
.ic_toolbar_sort_ascending_disable:before {
	content: "\e60a";
}
.ic_toolbar_sort_az_disable:before {
	content: "\e60c";
}
.ic_toolbar_sort_default_disable:before {
	content: "\e60e";
}
.ic_toolbar_sort_descending_disable:before {
	content: "\e610";
}
.ic_toolbar_sort_za_disable:before {
	content: "\e612";
}
.ic_songlist_nowplaying:before {
	content: "\e615";
}
.ic_menu_favoraite:before {
	content: "\e61b";
}
.ic_menu_history:before {
	content: "\e61c";
}
.ic_menu_home:before {
	content: "\e61d";
}
.ic_menu_reguestbook:before {
	content: "\e61e";
}
.ic_menu_requestinglist:before {
	content: "\e61f";
}
.ic_controlbar_effect:before {
	content: "\e620";
}
.ic_controlbar_femaletune:before {
	content: "\e621";
}
.ic_controlbar_guide:before {
	content: "\e622";
}
.ic_controlbar_key:before {
	content: "\e623";
}
.ic_controlbar_maletune:before {
	content: "\e624";
}
.ic_controlbar_micvolume:before {
	content: "\e625";
}
.ic_controlbar_musicvolume:before {
	content: "\e626";
}
.ic_controlbar_pause:before {
	content: "\e627";
}
.ic_controlbar_play:before {
	content: "\e628";
}
.ic_controlbar_repeat:before {
	content: "\e629";
}
.ic_controlbar_stop:before {
	content: "\e62a";
}
.ic_action_favortie:before {
	content: "\e62b";
}
.ic_action_inserting:before {
	content: "\e62c";
}
.ic_action_remove:before {
	content: "\e62d";
}
.ic_action_requesting:before {
	content: "\e62e";
}
